@model LojaJogos.Models.Jogo
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<div>
    <b>Código do Jogo</b>
</div>
<div>
    @Model.CodJogo
</div>
<div>
    <b>Nome do Jogo</b>
</div>
<div>
    @Model.NomeJogo
</div>
<div>
    <b>Versão do jogo</b>
</div>
<div>
    @Model.VersaoJogo
</div>
<div>
    <b>Desenvolvedora do Jogo</b>
</div>
<div>
    @Model.DesJogo
</div>
<div>
    <b>Gênero do Jogo</b>
</div>
<div>
    @Model.GeneroJogo
</div>
<div>
    <b>Faixa etária do Jogo</b>
</div>
<div>
    @Model.EtariaJogo
</div>
<div>
    <b>Plataforma do Jogo</b>
</div>
<div>
    @Model.PlatJogo
</div>
<div>
    <b>Ano do Jogo</b>
</div>
<div>
    @Model.AnoJogo
</div>
<div>
    <b>Sinopse do Jogo</b>
</div>
<div>
    @Model.SinopseJogo
</div>

