@model LojaJogos.Models.Cliente
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<div>
    <b>Nome do Cliente</b>
</div>
<div>
    @Model.NomeCliente
</div>
<div>
    <b>CPF do Cliente</b>
</div>
<div>
    @Model.CPFCliente
</div>
<div>
    <b>Nascimento do Cliente</b>
</div>
<div>
    @Model.NascCliente
</div>
<div>
    <b>Endereço do Cliente</b>
</div>
<div>
    @Model.EnderecoCliente
</div>
<div>
    <b>Celular do Cliente</b>
</div>
<div>
    @Model.CelCliente
</div>
<div>
    <b>Email do Cliente</b>
</div>
<div>
    @Model.EmailCliente
</div>

