@model LojaJogos.Models.Funcionario
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<div>
    <b>Código do Funcionário</b>
</div>
<div>
    @Model.CodFuncionario
</div>
<div>
    <b>Nome do Funcionário</b>
</div>
<div>
    @Model.NomeFuncionario
</div>
<div>
    <b>CPF do Funcionário</b>
</div>
<div>
    @Model.CPFFuncionario
</div>
<div>
    <b>RG do Funcionário</b>
</div>
<div>
    @Model.RGFuncionario
</div>
<div>
    <b>Nascimento do Funcionário</b>
</div>
<div>
    @Model.NascFuncionario
</div>
<div>
    <b>Endereço do Funcionário</b>
</div>
<div>
    @Model.EnderecoFuncionario
</div>
<div>
    <b>Celular do Funcionário</b>
</div>
<div>
    @Model.CelFuncionario
</div>
<div>
    <b>Email do Funcionário</b>
</div>
<div>
    @Model.EmailFuncionario
</div>
<div>
    <b>Cargo do Funcionário</b>
</div>
<div>
    @Model.CargoFuncionario
</div>
<br />
@Html.ActionLink("Voltar","Index","Home")